.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="193188089756123136"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="596812194906374167"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="281376608038813696"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="269939624401436672"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="272440514400354305"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="409639495030538250"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="303880582331629569"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="562386647828791311"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="442661470770167838"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="394804652064899072"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="148883925270396929"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="233787027517210624"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="751092600890458203"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="289782983357890571"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="478881945020006402"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="549798195027247104"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="421890156686213120"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="285902386701271050"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="429013973501870100"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="317274395410169856"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="516246121002303489"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="705306248538488947"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="717509908479868999"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="522953162748067840"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="936723624180727888"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="444254890563338241"] + div > .profileBadges-2pItdR::before,
.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="188323207793606656"] + div > .profileBadges-2pItdR::before {
  content: "";
  position: relative;
  width: 20px;
  height: 17px;
  margin: 1.5px 6px 0 0;
  pointer-events: none;
  background: url("https://cdn.discordapp.com/attachments/790650169564856336/1027075757253599272/3fc3906b1f08f66a3c82bf5e1aa30f96.png") center/100% no-repeat;
}

.member-2gU6Ar .wrapper-1VLyxH[data-user-id="193188089756123136"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="596812194906374167"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="281376608038813696"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="269939624401436672"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="272440514400354305"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="409639495030538250"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="303880582331629569"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="562386647828791311"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="442661470770167838"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="148883925270396929"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="394804652064899072"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="233787027517210624"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="751092600890458203"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="289782983357890571"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="478881945020006402"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="549798195027247104"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="421890156686213120"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="285902386701271050"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="429013973501870100"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="317274395410169856"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="516246121002303489"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="705306248538488947"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="717509908479868999"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="522953162748067840"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="936723624180727888"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="444254890563338241"]::before, .member-2gU6Ar .wrapper-1VLyxH[data-user-id="188323207793606656"]::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  bottom: -3px;
  left: -5px;
  z-index: 2;
  background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") no-repeat;
  background-size: 85%;
  border-radius: 0 5px 0 0;
  pointer-events: none;
}

.avatar-2e8lTP[src*="193188089756123136"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="596812194906374167"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="281376608038813696"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="269939624401436672"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="272440514400354305"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="409639495030538250"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="303880582331629569"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="562386647828791311"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="442661470770167838"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="394804652064899072"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="148883925270396929"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="233787027517210624"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="751092600890458203"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="289782983357890571"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="478881945020006402"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="549798195027247104"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="421890156686213120"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="285902386701271050"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="429013973501870100"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="17274395410169856"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="516246121002303489"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="705306248538488947"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="717509908479868999"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="522953162748067840"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="936723624180727888"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="444254890563338241"] + h2 .username-h_Y3Us::after,
.avatar-2e8lTP[src*="188323207793606656"] + h2 .username-h_Y3Us::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  bottom: 2px;
  right: -26px;
  background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") no-repeat;
  background-size: 100%;
  border-radius: 0 5px 0 0;
  pointer-events: none;
}
.avatar-2e8lTP[src*="193188089756123136"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="596812194906374167"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="281376608038813696"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="269939624401436672"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="272440514400354305"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="409639495030538250"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="303880582331629569"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="562386647828791311"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="442661470770167838"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="394804652064899072"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="148883925270396929"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="233787027517210624"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="751092600890458203"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="289782983357890571"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="478881945020006402"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="549798195027247104"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="421890156686213120"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="285902386701271050"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="429013973501870100"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="17274395410169856"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="516246121002303489"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="705306248538488947"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="717509908479868999"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="522953162748067840"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="936723624180727888"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="444254890563338241"] + h2 .timestamp-p1Df1m,
.avatar-2e8lTP[src*="188323207793606656"] + h2 .timestamp-p1Df1m {
  margin-left: 30px;
}

.avatar-2e8lTP[src*="193188089756123136"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="193188089756123136"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="193188089756123136"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="193188089756123136"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="193188089756123136"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: linear-gradient(-60deg, #000000 0%, #ffffff 50%, #000000 100%);
}

.avatar-2e8lTP[src*="281376608038813696"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="281376608038813696"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="281376608038813696"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="281376608038813696"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="281376608038813696"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: linear-gradient(-60deg, #1a8ce9 40%, #0b304e 80%, #1a8ce9 100%);
}

.avatar-2e8lTP[src*="596812194906374167"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="596812194906374167"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="596812194906374167"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="596812194906374167"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="596812194906374167"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(97, 0, 25) 0%, rgb(255, 0, 65) 50%, rgb(97, 0, 25) 100%);
}

.avatar-2e8lTP[src*="269939624401436672"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="269939624401436672"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="269939624401436672"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="269939624401436672"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="269939624401436672"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: linear-gradient(-60deg, #360167, #6B0772, #AF1281, #CF268A, #AF1281, #6B0772, #360167);
}

.avatar-2e8lTP[src*="272440514400354305"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="272440514400354305"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="272440514400354305"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="272440514400354305"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="272440514400354305"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: linear-gradient(-60deg, #FDC7C5 0%, #FEC4DF 10%, #EFC8F3 20%, #D2D0FC 30%, #B0DAF6 40%, #9AE1E3 50%, #9FE2C9 60%, #B8DFB2 70%, #D6D8A7 80%, #EFCFAF 90%, #FDC7C5 100%);
}

.avatar-2e8lTP[src*="409639495030538250"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="409639495030538250"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="409639495030538250"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="409639495030538250"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="409639495030538250"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.avatar-2e8lTP[src*="303880582331629569"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="303880582331629569"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="303880582331629569"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="303880582331629569"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="303880582331629569"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: linear-gradient(-60deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
}

.avatar-2e8lTP[src*="562386647828791311"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="562386647828791311"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="562386647828791311"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="562386647828791311"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="562386647828791311"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: linear-gradient(56deg, rgb(223, 193, 63) 0%, rgb(246, 57, 57) 33%, rgb(62, 9, 157) 66%, rgb(223, 193, 63) 99%);
}

.avatar-2e8lTP[src*="442661470770167838"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="442661470770167838"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="442661470770167838"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="442661470770167838"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="442661470770167838"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(252, 178, 215) 0%, rgb(0, 0, 0) 50%, rgb(252, 178, 215) 100%);
}

.avatar-2e8lTP[src*="148883925270396929"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="148883925270396929"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="148883925270396929"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="148883925270396929"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="148883925270396929"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 255) 25%, rgb(0, 0, 0) 50%, rgb(123, 0, 255) 75%, rgb(0, 0, 0) 100%);
}

.avatar-2e8lTP[src*="394804652064899072"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="394804652064899072"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="394804652064899072"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="394804652064899072"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="394804652064899072"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: radial-gradient(circle, rgb(0, 203, 255) 0%, rgb(76, 196, 114) 12%, rgb(183, 171, 99) 30%, rgb(214, 165, 18) 51%, rgb(206, 32, 32) 70%, rgb(132, 7, 7) 100%);
}

.avatar-2e8lTP[src*="233787027517210624"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="233787027517210624"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="233787027517210624"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="233787027517210624"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="233787027517210624"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(242, 221, 136) 20%, rgb(0, 0, 0) 50%, rgb(242, 221, 136) 80%);
}

.avatar-2e8lTP[src*="751092600890458203"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="751092600890458203"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="751092600890458203"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="751092600890458203"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="751092600890458203"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 10s linear infinite;
          animation: shine-reversed 10s linear infinite;
  background-image: linear-gradient(90deg, #D65E94 0%, #2AB5EA 50%, #D65E94 100%);
}

.avatar-2e8lTP[src*="289782983357890571"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="289782983357890571"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="289782983357890571"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="289782983357890571"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="289782983357890571"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 10s linear infinite;
          animation: shine-reversed 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(25, 25, 27) 0%, rgb(222, 175, 157) 33%, rgb(224, 231, 232) 66%, rgb(25, 25, 27) 100%);
}

.avatar-2e8lTP[src*="478881945020006402"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="478881945020006402"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="478881945020006402"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="478881945020006402"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="478881945020006402"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 10s linear infinite;
          animation: shine-reversed 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(25, 25, 27) 0%, rgb(222, 175, 157) 33%, rgb(235, 111, 146) 66%, rgb(25, 25, 27) 100%);
}

.avatar-2e8lTP[src*="549798195027247104"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="549798195027247104"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="549798195027247104"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="549798195027247104"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="549798195027247104"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(118, 240, 255) 0%, rgb(251, 213, 255) 30%, rgb(255, 255, 255) 50%, rgb(251, 213, 255) 70%, rgb(118, 240, 255) 100%);
}

.avatar-2e8lTP[src*="421890156686213120"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="421890156686213120"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="421890156686213120"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="421890156686213120"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="421890156686213120"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  background-image: linear-gradient(90deg, rgb(225, 116, 139) 0%, rgb(234, 161, 166) 20%, rgb(230, 220, 237) 40%, rgb(227, 238, 248) 60%, rgb(232, 248, 235) 80%, rgb(225, 116, 139) 100%);
}

.avatar-2e8lTP[src*="285902386701271050"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="285902386701271050"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="285902386701271050"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="285902386701271050"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="285902386701271050"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(140deg, #95efeb 0%, #95beef 10%, #a095ef 20%, #d595ef 30%, #ef95d5 40%, #ef95a0 50%, #efbf95 60%, #eaef95 70%, #b6ef95 80%, #95efaa 90%, #95efeb 100%);
}

.avatar-2e8lTP[src*="429013973501870100"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="429013973501870100"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="429013973501870100"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="429013973501870100"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="429013973501870100"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(-60deg, rgb(91, 206, 250) 20%, rgb(245, 169, 184) 20%, 40%, rgb(255, 255, 255) 40%, 60%, rgb(245, 169, 184) 60%, 80%, rgb(91, 206, 250) 80%);
}

.avatar-2e8lTP[src*="317274395410169856"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="317274395410169856"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="317274395410169856"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="317274395410169856"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="317274395410169856"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
}

.avatar-2e8lTP[src*="516246121002303489"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="516246121002303489"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="516246121002303489"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="516246121002303489"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="516246121002303489"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}

.avatar-2e8lTP[src*="705306248538488947"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="705306248538488947"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="705306248538488947"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="705306248538488947"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="705306248538488947"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(45deg, orange, yellow, green, blue, indigo, violet, red);
}

.avatar-2e8lTP[src*="717509908479868999"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="717509908479868999"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="717509908479868999"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="717509908479868999"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="717509908479868999"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  background-image: radial-gradient(circle, rgb(1, 144, 249) 0%, rgb(253, 224, 45) 100%);
}

.avatar-2e8lTP[src*="522953162748067840"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="522953162748067840"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="522953162748067840"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="522953162748067840"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="522953162748067840"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 6%, rgba(17, 91, 15, 0.9912280702) 48%, rgb(17, 176, 8) 83%);
}

.avatar-2e8lTP[src*="936723624180727888"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="936723624180727888"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="936723624180727888"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="936723624180727888"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="936723624180727888"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, rgb(55, 177, 218) 0%, rgb(146, 111, 210) 32%, rgb(181, 86, 207) 51%, rgb(203, 152, 127) 80%, rgb(204, 221, 59) 100%);
}

.avatar-2e8lTP[src*="444254890563338241"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="444254890563338241"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="444254890563338241"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="444254890563338241"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="444254890563338241"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, rgb(93, 164, 204) 0%, rgb(132, 208, 142) 19%, rgb(218, 139, 163) 40%, rgb(222, 159, 117) 59%, rgb(219, 88, 88) 79%, rgb(209, 154, 228) 100%);
}

.avatar-2e8lTP[src*="188323207793606656"] + h2 .username-h_Y3Us,
.channel-1Shao0[data-user-id="188323207793606656"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="188323207793606656"] .username-i5-wv- > span,
.userPopout-2j1gM4[data-user-id="188323207793606656"] ~ .nameTag-2Nlmsy .username-3JLfHz,
.banner-1YaD3N[style*="188323207793606656"] ~ .nameTag-2Nlmsy .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, rgb(216, 44, 1) 0%, rgb(241, 117, 44) 15%, rgb(255, 152, 91) 30%, rgb(255, 255, 255) 45%, rgb(209, 98, 163) 60%, rgb(183, 85, 145) 75%, rgb(166, 2, 96) 90%);
}

@-webkit-keyframes shine {
  to {
    background-position: 300% center;
  }
}

@keyframes shine {
  to {
    background-position: 300% center;
  }
}
@-webkit-keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}
@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}
